name: Hello World
on: [push]
jobs:
  Hello-World-Job:
    runs-on:
      - codebuild-667532145122-github-runner-${{ github.run_id }}-${{ github.run_attempt }}
    steps:
      - run: echo "Hello World"
