name: Terraform Plan
on:
  # Manual trigger of the workflow from the GitHub UI
  workflow_dispatch:

  # Any changes to pull requests targeting the specified branches will trigger the workflow
  pull_request:
    branches:
      - dev
      - main
    types:
      - opened
      - synchronize
      - reopened
      - edited

permissions:
  contents: read
  id-token: write
  pull-requests: read

# Constants used across all jobs
env:
  AWS_REGION: eu-west-2
  AWS_ACCOUNT_ID: 667532145122
  ENVIRONMENT: |-
    ${{ case(
        github.ref_name == 'dev', 'dev',
        github.ref_name == 'main', 'staging',
        'dev'
    ) }}


jobs:
  Terraform-Plan-Job:
    runs-on:
      - codebuild-667532145122-github-runner-${{ github.run_id }}-${{ github.run_attempt }}
    strategy:
      # Ensure the Terraform Plan jobs run sequentially based on the configuration layer
      max-parallel: 1
      matrix:
        configuration_layer: [
          "00_prerequisites",
          # "10_data_storage",
          # "20_networking",
          # "30_virtual_desktop",
        ]

    steps:
      - run: echo "Environment         ${{ env.ENVIRONMENT }}"
      - run: echo "Configuration Layer ${{ matrix.configuration_layer }}"

      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}
      
      - name: Terraform Init
        env:
          BACKEND_FILE: terraform/environments/${{ env.ENVIRONMENT }}.tfbackend
        run: |          
          if [ -f "$BACKEND_FILE" ]; then
            echo "Using backend configuration from $BACKEND_FILE"

            # Relative path to .tfbackend files AFTER the chdir in the terraform commands
            terraform -chdir=./terraform/configuration_layers/${{ matrix.configuration_layer }} init -backend-config="../../$BACKEND_FILE"
          else
            echo "No backend configuration file found for environment ${{ env.ENVIRONMENT }}. Aborting."
            exit 1
          fi