name: Trigger Workflow - Env integration
on:
  # Manual trigger of the workflow from the GitHub UI
  workflow_dispatch:
    inputs:
      environment:
        description: Environment to deploy
        required: true
        type: choice
        options:
          - dev
          - stg
          - prd

permissions:
  contents: read
  id-token: write
  pull-requests: read

jobs:
  resolve-account:
    runs-on: ubuntu-latest
    environment: ${{ github.event.inputs.environment }}

    outputs:
      account_id: ${{ steps.sts.outputs.account_id }}

    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v6
        with:
          role-to-assume: ${{ vars.AWS_ROLE_ARN }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: Get Account ID
        id: sts
        run: |
          echo "Which environment are we deploying to?
          echo "${{ github.event.inputs.environment }}"

          echo "Who am I? (aws sts get-caller-identity)"
          aws sts get-caller-identity

          echo "What's the magic word?"
          echo "${{ vars.MAGIC_WORD }}"

          ACCOUNT_ID=$(aws sts get-caller-identity --query Account --output text)
          echo "AWS account number discovered to be: $ACCOUNT_ID"
          echo "account_id=$ACCOUNT_ID" >> $GITHUB_OUTPUT
